RewriteEngine On
RewriteBase /strategy_insights
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

AuthUserFile /home/rowland1/public_html/selection_criteria/.htpasswd
AuthType Basic
AuthName "Selection Criteria"
Require valid-user